.pastebin{
  width:300px;
  height:100vh;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 20px;
    padding-bottom: 10px;
  }
  textarea,input{
    width:100%;
    margin:10px 0px;
    padding:10px;
    border:1px solid black;
    border-radius: 5px;
  }

  button{
    width:100%;
    margin:10px 0px;
    padding:10px;

  }
}